<div class="general-row">
  <span class="label">type</span>
  <ng-select
    class="select"
    [items]="chartTypeList"
    [ngModel]="ref.instance.widgetData?.setting?.chartType"
    (ngModelChange)="onChartTypeChange($event)"
  ></ng-select>
</div>
<div class="general-row">
  <span class="label">data source</span>
  <ng-select
    class="select"
    [items]="sourceList"
    [ngModel]="ref.instance.widgetData?.setting?.source"
    (ngModelChange)="onChartSourceChange($event)"
  ></ng-select>
</div>
